@{
    ViewBag.Title = "Product details";
}
@section styles{
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="~/Content/css/Product/productDetails.css" rel="stylesheet" />
}
<div class="container">
    <div id="container-row">
        <div class="col-12 col-lg-9 cards-container">
            <div class="card" style="flex-direction: row">
                <div class="card-body">
                    <!--Images in left-->
                    <div class="card-body left col-12 col-md-5">
                        <div class="card-body row">
                            <div>
                                <div>
                                    <div class="carousel text-center slide" id="mycarousel">
                                        <ul id="u2" class="carousel-indicators col-9">
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="0"
                                                 class="active" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="1" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="2" />
                                            <img src="~/images/shoe_1.jpg"
                                                 data-target="#mycarousel"
                                                 data-slide-to="3" />
                                        </ul>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                            <div class="carousel-item">
                                                <img src="~/images/shoe_1.jpg" />
                                            </div>
                                        </div>
                                        <!-- End Of Inner-->

                                        <a href="#"
                                           class="carousel-control-prev"
                                           data-slide="prev"
                                           data-target="#mycarousel">
                                            <span style="
                            margin-top: 25rem;
                            color: black;
                            background-color: transparent !important;
                          "
                                                  class="carousel-control-prev-icon bg-secondary col-2"></span>
                                        </a>
                                        <a href="#"
                                           class="carousel-control-next"
                                           data-slide="next"
                                           data-target="#mycarousel">
                                            <span style="
                            margin-top: 25rem;
                            color: black;
                            background-color: transparent !important;
                          "
                                                  class="carousel-control-next-icon bg-secondary col-2"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body right col-12 col-md-7">
                        <!--right-->
                        <div class="product-content">
                            <button id="swapHeart" class="btn-default">
                                <span><i class="fa-heart far"></i></span>
                            </button>
                            <h1 class="product-title">nike shoes</h1>
                            <span>
                                Brand: <a href="#" style="color: #264996">Nike</a> |
                                <a href="#" style="color: #264996">Similar products from Nike</a>
                            </span>
                            <div class="product-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span>4.7(21)</span>
                            </div>
                            <br />
                            <hr />
                            <div class="product-price">
                                <p>EGP <span>257,00</span></p>
                                <a href="/" class="btn imgbtn">
                                    <i class="fas fa-cart-plus float-left"></i>
                                    Add to cart
                                </a>
                            </div>
                            <hr />
                            <div class="product-detail">
                                <h5 class="text-left">Promotions</h5>
                                <a href="#" style="color: #264996">
                                    <i class="fas fa-shield-alt"
                                       style="width: 24px; height: 24px"></i>
                                    Enjoy 5% cashback on recharge & mobile bill payments on
                                    JumiaPay. Use code: TELE5
                                </a>
                                <br />
                                <a href="#" style="color: #264996">
                                    <i class="fas fa-shield-alt"
                                       style="width: 24px; height: 24px"></i>
                                    Donate now to more than a charity on JumiaPay App and
                                    deliver your support everywhere.
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <pre></pre>
            </div>
        </div>
        <br />
        <div class="col-12 col-lg-9 cards-container">
            <div class="card">
                <h5 class="card-header">Product details</h5>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
                <b class="card-body">Shoe</b>
                <ul>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                    <li><b>Advantage: </b>like shoes</li>
                </ul>
            </div>
        </div>
        <br />
        <div class="col-12 col-lg-9 cards-container">
            <div class="card">
                <h5 class="card-header">Customer Feedback</h5>
                <div class="card-body row">
                    <div class="image col">
                        <img src="https://www.jumia.com.eg/assets_he/images/chat.6c5fb8ec.svg"
                             width="84"
                             height="72"
                             alt="" />
                        <p style="font-size: 1rem; font-weight: 500; padding: 0">
                            This product has no ratings yet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-12 cards-container">
        <div class="card">
            <h5 class="card-header" style="border-bottom: none">
                More items from this seller
            </h5>
            <div class="card-body row">
                <div class="container text-center my-3">
                    <div class="row mx-auto my-auto">
                        <div id="recipeCarousel"
                             class="carousel slide w-100"
                             data-ride="carousel">
                            <div class="carousel-inner w-100" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_2.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_1.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                        <div class="card card-transform col-6 col-md-4 col-lg-2">
                                            <div class="card-body text-center">
                                                <div class="card-img-actions">
                                                    <img class="img-fluid" src="~/images/shoe_3.jpg" />
                                                </div>
                                            </div>
                                            <h6 class="font-weight-semibold mb-2">
                                                <h6 class="text-default mb-2" data-abc="true">
                                                    Toshiba Notebook with 500GB HDD & 8GB RAM
                                                </h6>
                                                <h5 class="mr-1">$12.99</h5>
                                                <h6 class="text-grey"><s>$36.99</s></h6>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <a class="carousel-control-prev w-auto"
                                   href="#recipeCarousel"
                                   role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle"
                                          aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next w-auto"
                                   href="#recipeCarousel"
                                   role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle"
                                          aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        jQuery(function ($) {
            $("#swapHeart").on("click", function () {
                var $el = $(this),
                    $textNode = $el.find("span i");
                $textNode.toggleClass("fas far");
            });
        });
    </script>
}