.slide-img{
    height: 400px;
    object-position: center;
    object-fit: fill;
}
.col-img{
    height: 190px;
}
.ads-row{
    height: 400px;
}
#col-img-container{
    padding: 0;
    justify-content: space-between;
}